/*Обнулення*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
    height: 100vh;
    font-family: 'Unbounded', cursive;
    background-color: #fff;
}

.body-block {
    overflow: hidden;
}

.title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--color-title);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
*/
body {
    font-family: 'Montserrat', sans-serif;

}

.scroll--block {
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}

body {
    line-height: 1;
    height: 100vh;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}




/*HEADER*/

.header {
    padding-bottom: 140px
}

.header__container {
    padding: 35px 15px;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
}

.header__logo {
    position: relative;
    z-index: 2;
    width: 170px;
    margin-right: 15px;
}

.header__burger.active .header__logo-link {
    color: black;
}

.header__burger {
    display: none;
}

body {
    background: linear-gradient(90deg, #FEEEEF 50%, #F9FDFF 50%);
    font-family: 'Montserrat', sans-serif;

}


.header__menu-items {
    display: flex;
    gap: 50px;
}

.header__menu-link {
    color: #000000;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__menu-link:hover {
    color: #00B2A0;
}



@media (max-width: 991.98px) {
    .header__container {
        justify-content: space-between;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 2.5rem;
        height: 1.8rem;
        cursor: pointer;
        z-index: 5;
        color: inherit;
        background-color: inherit;
        border: none
    }

    .header__logo {
        position: relative;
        z-index: 2;
        width: 0;
        /* width: 170px; */
        margin-right: 15px;
    }

    .header__logo-link::after {
        left: 17px;
    }

    .header__burger span,
    .header__burger::after,
    .header__burger::before {
        content: "";
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: .25rem;
        background-color: #fff;
    }

    .header__burger span {
        top: calc(50% - .125rem);
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .menu__body {
        left: -120%;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 90px 15px 30px 15px;
        transition: left ease .3s;
        overflow: auto;
    }

    .menu__body.active {
        display: block;
        left: 0;
    }

    .header__menu-link {
        font-size: 35px;
        position: relative;
        margin: 0;
    }

    .header__menu-items {
        display: flex;
        flex-direction: column;
        gap: 54px;
        justify-content: center;
        align-items: center;
    }

    .header__burger.active::before {
        top: calc(50% - .125rem);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .header__burger.active::after {
        bottom: calc(50% - .125rem);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .header__burger.active span {
        display: none;
    }

    .container {
        max-width: 100%;
    }
}