/*Обнулення*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    line-height: 1;
    height: 100vh;
    font-family: 'Unbounded', cursive;
    background-color: #fff;
}

.body-block {
    overflow: hidden;
}

.title {
    color: #000;
    font-family: Cormorant Garamond;
    font-size: clamp(36px, 5vw, 48px);
    position: relative;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-block;
}

.title::after {
    content: '';
    ;
    position: absolute;
    left: -3px;
    right: -3px;
    height: 3px;
    bottom: 0;
    background-color: #FC649F;
}

.wrapper {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
*/
body {
    font-family: 'Montserrat', sans-serif;

}

.scroll--block {
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}

body {
    line-height: 1;
    height: 100vh;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}




/*HEADER*/



.socials {
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 5;
}

.social__img {
    width: 32px;
    height: 32px;
    fill: #E84483;
}

.header__container {
    padding: 35px 15px;
    display: flex;
    align-items: center;
    z-index: 2;
    position: relative;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    z-index: 2;
    width: 170px;
    margin-right: 15px;
}

.header__burger.active .header__logo-link {
    color: black;
}

.header__burger {
    display: none;
}

body {
    background: linear-gradient(90deg, #FEEEEF 50%, #F9FDFF 50%);
    font-family: 'Montserrat', sans-serif;

}


.header__menu-items {
    display: flex;
    gap: 50px;
}

.header__menu-link {
    color: #000000;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__menu-link:hover {
    color: #00B2A0;
}

/*MAIN*/


.banner {
    position: relative;
    z-index: 1;
}

.banner__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1268px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 2;
}

.banner__content-left {
    display: flex;
    flex-direction: column;
    gap: 63px;
    width: 50%;
}

.banner__title {
    color: #000;
    font-family: Cormorant Garamond;
    font-size: clamp(43px, 5vw, 55px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.buy__btn {
    padding: 14px 45px;
    border-radius: 10px;
    background: #E84483;
    box-shadow: 0px 4px 6.6px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.banner__content-right {
    width: 50%;
    text-align: right;
}









/*about*/


.about {
    background-color: #fff;

}

.about__container {
    padding-top: 75px;
    padding-bottom: 30px;
    display: flex;
}

.about__content-left {
    width: 39%;
}

.about__content-img {
    width: 66%;
}

.about__content-right {
    width: 60%;
}

.about__title-wrapper {
    margin-bottom: 60px;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about__list-item {
    color: #000;
    font-family: Montserrat;
    font-size: clamp(18px, 5vw, 23px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding-left: 40px;
}

.about__list-item::before {
    content: '';
    background-image: url('../img/about/bant.svg');
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0;
    background-size: cover;
    background-position: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about__inst {
    display: inline-block;
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
    position: relative;
    bottom: -9px;
}


/*Courses*/
/* .courses {
}
.container {
} */
.courses__container {
    display: flex;
}

.title__wrapper {
    text-align: center;
    margin: 75px 0;
}


.courses__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: clamp(100px, 5vw, 150px);
}


.courses__list-item {
    flex: 0 0 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 22.1px -2px #FC649F;
    padding: 20px;
}

.courses__btn {
    align-self: flex-end;
    /* Розміщуємо кнопку внизу */
    margin-top: 10px;
}

.courses__list-item img {
    border-radius: 10px;
    border: 3px solid #E84483;
    /* background: lightgray -0.03px -228.078px / 100.012% 144.466% no-repeat; */
    box-shadow: 1px 1px 22px -1px #FC649F;
}

.courses__text {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: .6;
}

.courses__link {
    color: #000;

    display: inline-block;
    margin-left: auto;
    cursor: pointer;
    color: #E84483;
    text-align: right;
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: transparent;
}

.courses__title-link {
    color: #000;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.courses__btn {
    color: #E84483;
    text-align: right;
    font-family: Montserrat;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    background-color: transparent;
    margin-left: auto;
}




/*consultation*/

.consultation__container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    gap: 100px
}

.title__wrapper {}


.consultation__content-left {
    width: 40%;
}

.consultation__form-title {
    color: #000;
    font-family: Montserrat;
    font-size: clamp(32px, 5vw, 42px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.consultation__inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.consultation__form-input {
    border: none;
    border-bottom: 3px solid #FC649F;
    padding-bottom: 10px;
    background-color: transparent;
    padding-top: 10px;
    color: #000;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
}

.consultation__form-input::placeholder {
    color: #000;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    opacity: 0.38;
}

.consultation__text {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.consultation__text strong {
    color: #E84483;
    font-size: 20px;

}

.consultation__btn {
    border-radius: 10px;
    background: #E84483;
    box-shadow: 0px 4px 6.6px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 20px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    margin-top: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.consultation__content-right {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 30%;
    margin-right: 10%;
}

.consultation__content-right p:last-child {
    margin-left: auto;
}

.consultation__content-right p {
    font-family: Montserrat;
    font-size: 21px;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.consultation__content-right p strong {
    color: #E84483;
    font-size: 24px;

}






/*Footer*/






.footer {
    background-color: #FC649F;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    gap: 10px;
    color: #fff;
}

.footer .social__link .social__img {
    fill: #ffff;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
}

.footer__content-item {
    color: #FFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__link {
    position: relative;
    color: #FFF;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer__link::after {
    content: '';
    height: 2px;
    left: 0;
    right: 0;
    background-color: #fff;
    bottom: 0;
    position: absolute;
}



















/*сourse page*/

.who {}

.container {}

.who__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: calc(10px + (200 - 60) * ((100vw - 320px) / (1200 - 320)));;

}

.title__wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
}

.who__title,
.title__wrapper span {
    color: #000;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: clamp(36px, 5vw, 40px);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.who__title {
    position: relative;
}
.who__title span{
    color: #fc649f;
}
/* 
.who__title::after {
    content: '';
    position: absolute;
    left: 24px;
    right: 24px;
    height: 3px;
    bottom: 0;
    background-color: #FC649F;
} */

.title__wrapper span {
    color: #E84483;
}

.who__content-left,
.who__content-right {
    width: 50%;
}

.title__course {
    color: #000;
    text-shadow: 6px 4px 11.5px #FC649F;
    font-family: Cormorant Garamond;
    font-size: clamp(36px, 5vw, 48px);
    ;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 400px;
}

.who__content-left__img {
    border-radius: 10px;
    border: 3px solid #E84483;
    /* background: lightgray -0.03px -228.078px / 100.012% 144.466% no-repeat; */
    box-shadow: 1px 1px 22px -1px #FC649F;
}

.who__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.who__list-item {
    color: #000;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 28px;
}

.who__list-item::after {
    content: '';
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FC649F;
    border-radius: 50%;
}


.result__container {
    display: flex;
    align-items: center;
    gap: calc(10px + (200 - 60) * ((100vw - 320px) / (1200 - 320)));;
}

.result__content-left,
.result__content-right {
    width: 50%;
}

.result__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.result__content-right__img {
    border-radius: 10px;
    border: 3px solid #E84483;
    /* background: lightgray -0.03px -228.078px / 100.012% 144.466% no-repeat; */
    box-shadow: 1px 1px 22px -1px #FC649F;
}

.result__list-item {
    color: #000;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    padding-left: 28px;
    padding-left: 40px;
}

.result__list-item::before {
    content: '';
    background-image: url('../img/course/who/circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
}








/*accordion*/



.accordeon {
    width: 65%;
    border-radius: 10px;
    background: #FC649F;
    cursor: pointer;
    box-shadow: 3px 7px 11.8px 0px rgba(0, 0, 0, 0.21);
}
.moduls__title {
    margin: 75px 0;

}

.moduls__accordeon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 40px;

}

.panel {
    overflow: hidden;
    max-height: 0;
    /* Початкова висота */
    width: 100%;
    transition: all ease .8s;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
}

.panelActive {
    max-height: 1000px;
}


/* Style the buttons that are used to open and close the accordion panel */
.moduls__accordeon-btn {
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: clamp(16px,5vw,26px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    width: 100%;
    border-radius: 10px;
    background: #FC649F;
    padding: 15px 20px;
    cursor: pointer;
    position: relative;
    padding-right: 56px;
}
.moduls__accordeon-btn::before {
    content: '';
    background-image: url('../img/course/moduls/chrest.svg');
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    position: absolute;
    right: 25px;
    
    transition: all .8s;
}
.moduls__accordeon-btn.active.moduls__accordeon-btn::before{
    transform: rotate(-45deg);
    transform-origin: center;
}

.moduls__accordeon-numb {
    position: relative;
    padding-right: 30px;
    white-space: nowrap;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel__content-top {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 0px;
    text-align: left;
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
    gap: 25px;
    
}

.modul__list-item,
.boneses__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.modul__list,
.bonuses__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.bonuses__title {
    color: #fc649f;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 8px;
    text-align: left;
    position: relative;
}

.boneses__list-item__value{
    position: relative;
    padding-left: 20px;

}
.boneses__list-item__value::before{
    content: '';
    width: 15px;
    position: absolute;
    left: 0;
    top: 50%;
    height: 2px;
    transform: translateY(-50%);
    background-color: #fc649f;

}
.results__title {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
}
.results__title::after{
    content: '';
    background-image: url(../img/course/moduls/target.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    top: -10px;
    transform: translateY(-50%);
    position: absolute;
}
.results__list{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 25px;
}

.results__list-item {
    color: #000;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* text-transform: uppercase; */
    margin-bottom: 7px;
    counter-increment: list-counter;
            margin-bottom: 10px;
}
.results__list-item::before {
    content: counter(list-counter)'.';
    display: inline-block;
    margin-right: 5px;
    color: #FC649F;
}


.results__wrapper {
    padding: 0 20px;
}

.modul__list-item__lesson,
.boneses__list-item__bonuse {
    position: relative;
    white-space: nowrap;
    color: #fc649f;
}

/* .modul__list-item__lesson::after,
.boneses__list-item__bonuse::after {
    position: absolute;
    content: url('../img/icons/accordeon/Arrow 3.svg');
    top: -1px;
    right: -16.5px;
} */

.boneses__list-item__bonuse::after {
    top: 0;
}

.boneses__list-item__bonuse {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 9px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}










.price__container {
    display: flex;
    padding-bottom: 100px;
}

.price__list {
    display: flex;
    gap: 100px;
    justify-content: center;
    width: 100%;
}

.price__list-item {
    display: flex;

    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 22.1px -2px #FC649F;
    transition: all .4s ease;
}

.price__item-title {
    margin-bottom: 40px;
}

.price__item-title {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Montserrat;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}
.price__item-title::after{
    content: '';
    background-image: url(../img/course/result/bulavka.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 27px;
    height: 25px;
    /* top: 50%; */
    transform: translateY(-50%);
    position: absolute;
}
.price__item-title::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    bottom: -2px;
    background-color: #FC649F;
}

.price__item-result__list {
    display: flex;
    flex-direction: column;
}

.price__item-result__list-item {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.88px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 25px;
}

.price__item-result__list-item::before {
    content: '';
    background-image: url('../img/course/result/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
}

.price__item-result__list-item--not::before {
    background-image: url('../img/course/result/cross.svg');

}

.price__item-result__list-item--not:last-child {
    margin-bottom: 0;
}

.price__item-result__list-item--not {
    color: rgba(0, 0, 0, 0.46);

    letter-spacing: 0.88px;
    text-decoration: line-through;
}

.price__value {
    color: #000;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;

}



.price__value strong {
    color: #FC649F;
}

.price__buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
}

.price__button {
    padding: 14px;
    /* margin: 0 25px; */
    border-radius: 10px;
background: #FC649F;
border: none;
}
.price__button-link{
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



/* media */
@media (min-width: 991.98px) {
    .price__list-item:hover {
        scale: 1.05;
    }
    .courses__list-item{
        gap: 15px;
        flex: 0 0 27%;
    }
    .courses__text{
        font-size: 18px;
        gap: 10px
    }
    
}
@media (max-width: 991.98px) {
    .about__content-img {
        width: 83%;
    }
}

@media (max-width: 798px) {
    .header__container {
        justify-content: space-between;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 2.5rem;
        height: 1.8rem;
        cursor: pointer;
        z-index: 5;
        color: inherit;
        background-color: inherit;
        border: none
    }

    .header__logo {
        position: relative;
        z-index: 2;
        width: 0;
        /* width: 170px; */
        margin-right: 15px;
    }

    .header__logo-link::after {
        left: 17px;
    }

    .header__burger span,
    .header__burger::after,
    .header__burger::before {
        content: "";
        -webkit-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: .25rem;
        background-color: #E84483;
        border-radius: 10px;
    }

    .header__burger span {
        top: calc(50% - .125rem);
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .menu__body {
        left: -120%;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #FEEEEF 52%, #F9FDFF 50%);
        transition: left ease .3s;
        overflow: auto;
        z-index: 5;
    }

    .menu__body.active {
        display: flex;
        left: 0;
        flex-direction: column;
    }

    .header__menu-link {
        font-size: 35px;
        position: relative;
        margin: 0;
        color: #000;
    }

    .header__menu-items {
        display: flex;
        flex-direction: column;
        gap: 54px;
        justify-content: center;
        align-items: center;
        margin: auto 0;
    }

    .header__burger.active::before {
        top: calc(50% - .125rem);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .header__burger.active::after {
        bottom: calc(50% - .125rem);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .header__burger.active span {
        display: none;
    }

    .container {
        max-width: 100%;
    }

    .banner__container {
        flex-direction: column-reverse;
        padding: 0;
    }

    .banner__title {
        text-align: center;
        margin: 18px 15px;
        margin-bottom: 18px;
    }

    .banner__content-left,
    .banner__content-right {
        width: 100%;
    }

    .banner__content-left {
        background-color: #fff;
        padding-bottom: 60px;
    }

    .banner__content-img__wrapper {
        margin: 0 15px;
    }

    .socials {
        margin-right: auto;
    }

    .footer .socials {
        margin: 0;
    }

    .banner__content-img {
        position: relative;
        bottom: -2px;
    }

    .banner__btn-link {
        margin: 0 15px;
    }

    .banner__btn-link button {
        width: 100%;
        padding: 17px 45px;
    }

    .banner__content-left {
        gap: 0;
    }

    .header__container {
        padding: 25px 15px;
    }

    .banner__title {
        line-height: 95%;
    }



    .about__container {
        flex-direction: column;
    }

    .about__content-left,
    .about__content-right {
        width: 100%;
    }

    .about__content-img {
        position: relative;
        left: -15px;
        width: 82%;
    }

    .about__container {
        padding-top: 0;
    }

    .about__title-wrapper {
        text-align: center;
        margin: 65px 0;
    }

    .about__title {
        margin: 0;
    }

    .about__list-item::before {
        left: 15px;
    }


    .courses__list {
        flex-direction: column;
    }

    .courses__list-item {
        width: 100%;
        gap: 20px;
    }

    .consultation__container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .consultation__content-right {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 40%;
        margin-right: 0;
    }

    .consultation__container {
        gap: 0;
    }

    .consultation__content-right {
        gap: 30px;
    }

    .consultation__content-right {
        padding-bottom: 60px;

    }

    .consultation__content-left,
    .consultation__content-right {
        width: 70%;
    }



    .who__container{
        flex-direction: column;
    }

    .who__content-left,.who__content-right{
        width: 100%;
    }
    .title__course {
        
        max-width: 100%;
        text-align: center;
    }

    .who__content-right-title{
        margin-bottom: 75px;
    }
    .result__container{
        flex-direction: column-reverse;
    }
    .result__content-left,.result__content-right{
        width: 100%;
    }
    .accordeon{
        width: 100%;
    }
    .panel__content-top{
        flex-direction: column;
    }
}
@media (max-width: 670px) {
    .price__list{
        flex-direction: column;
        align-items: center;
    }
    .price__list-item{
        width: 50%;
    }
}
@media (max-width: 500px) {
    .price__list-item{
        width: 80%;
    }
}

@media (min-width: 1525px) {

    .container,
    .banner__container {
        max-width: 1540px;
    }

}

@media (max-width: 640px) {

    .container,
    .banner__container {
        max-width: 1540px;
    }

    .consultation__content-left,
    .consultation__content-right {
        width: 100%;
    }
}
